In [ ]:
# Week 3 - Control Structures, Functions, and Modules

In [ ]:
# PART ONE FUNCTIONS - reusable blocks of code 
# Defined by 'def' python reserved word 
# name and parameter(s)

In [1]:
# call function multiple times with different 
# arguments passed to parameter 
def greeting(name):
    print("Welcome, " + name)

greeting("Carly") 
greeting("Daniel")

Welcome, Carly
Welcome, Daniel

In [2]:
# call function that takes multiple parameters 
def greeting(name, department): 
    print("Welcome " + name)
    print("You are part of " + department) 

greeting("Carly", "Cybersecurity") 
greeting("Daniel", "Software Engineering")

Welcome Carly
You are part of Cybersecurity
Welcome Daniel
You are part of Software Engineering

In [3]:
# call function that returns values 
# create function to calculate the area of a triangle
# return value from function 
# area = 1/2(b*h) 

def area_triangle(base, height):
    return (base*height)/2

# call function with arguments 
area_a = area_triangle(5,4)
print("The area of Triangle A is " + str(area_a))

The area of Triangle A is 10.0

In [4]:
# call function that returns multiple values 
# calculate the number of days in a variable 
# given years, months, and days 

def find_total_days(years, months, days):

    total_days = (years*365) + (months*30) + days 

    return total_days


# call function directly 
print(find_total_days(2,3,21))

# call function as variable 
total_days_found = find_total_days(2,3,21)
print(total_days_found)

841
841

In [ ]:
# PART TWO WHILE LOOPS - continuously execute code based on a condition
# Condition must be TRUE for execution 
# Defined by 'while' python reserved word

In [5]:
# create a while loop to print 
# all values of x from 0 to 4 (inclusive)
x = 0
while x < 5: 
    print("x=" + str(x))
    x = x + 1

x=0
x=1
x=2
x=3
x=4

In [6]:
# must innitalize the variable before 
# the while loop 

# print "Hello" 5 times 
# ERROR
while my_var < 5: 
    print("Hello") 
    my_var +=1

NameError: name 'my_var' is not defined

In [ ]:
# print "Hello" 10 times 
# SOLUTION
my_var = 0 
while my_var < 5:
    print("Hello")
    my_var +=1

In [7]:
# while loop with multiple conditions 

# use a while loop to print a list of all even numbers 
# from 100 to 120 

num = 100
even_numbers = list() 

# LOGICAL ERROR
while num <= 120 and num%2 ==0:
    even_numbers.append(num)
    num +=1
    #Adding one here makes the num%2==0 return FALSE, so it breaks out

print(even_numbers)

[100]

In [8]:
# SOLUTION 
num = 100
even_numbers = list()

while num <= 120 and num%2==0:
    even_numbers.append(num)
    num+=2

print(even_numbers)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120]

In [9]:
# using break and pass reserved words in while loop 
# break - exit a loop before condition becomes FALSE
# pass - placeholder when no action is needed 

# count numbers from 0 to 10, but skip counting 5
# and exit the loop when count reaches 8

count = 0 

while count < 10:

    # pass over 5
    if count == 5: 
        pass 

    # break at 8
    elif count == 8:
        break

    print("Count is: " + str(count))
    count +=1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5
Count is: 6
Count is: 7

In [ ]:
# PART THREE FOR LOOPS - iterate over a sequence of values
# reserved word 'for', 'in' 
# iterate over any sequence type 
# range() common built in function for for loops

In [10]:
# iterate over list 
# check if 'basketball' in list 

sports = ["Soccer", "Football", "Basketball", "Tennis"]

for x in sports: 
    if x.lower() == "basketball":
        print("Yes in list")
    else:
        print("Not in list")

Not in list
Not in list
Yes in list
Not in list

In [11]:
# range() function 
# range(n) - genrates range of numbers from 0 up to n (exclusive) 
# range(start, end) - generates range of numbers from start up to end (exclusive) 
# range(start,end,step) - generates range of numbers from start up to end, incrementing by step

# use range(x) to print numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [12]:
# use range(start,end) to print numbers 1,2,3,4,5
for x in range(1,6):
    print(x)

1
2
3
4
5

In [13]:
# use range(start,end,step) to
# print numbers 0 to 50 incrementing by 5 (0,5,10,15...50)
# append numbers to list 

nums = list()
for x in range(0,51,5):
    nums.append(x)

print(nums)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [14]:
# use range(start,end,step) to 
# print numbers 2 to -2, decrementing by 1 

for x in range(2,-3,-1):
    print(x)

2
1
0
-1
-2

In [15]:
# iterate over dictionary 
# return all values of keys 

library_books = {"Science Fiction":12, "Mystery":4, "Romance":10, "Autobiography":2}

# print values
for x in library_books.values():
    print(x)

# print key value pairs 
for x, y in library_books.items():
    print("Number of {} books = {}".format(x,y))

12
4
10
2
Number of Science Fiction books = 12
Number of Mystery books = 4
Number of Romance books = 10
Number of Autobiography books = 2

In [19]:
# NESTED FOR LOOPS 
# inner loop runs every iteration for every one iteration of 
# outer loop 
# multi-dimensional data 
# end= allows us to end a print with something other than a newline character 

# create a 3x3 matrix

for x in range(3):
    for y in range(3):
        print("*",end=" ")
        #This 'end=" "' allows us to end a print statement with something other than a \n character
    print()

* * *
* * *
* * *

In [21]:
# you are responsible for managing a local sports league
# made up of 4 teams who should all play each other twice
# once at home and once away 
# use a nested for loop to output all the possible games 
# based on this logic 

teams = ["Titans", "Lions", "Eagles", "Huskies"]

for home_team in teams:
    for away_team in teams: 
        if home_team != away_team: 
            print(home_team + " vs " + away_team)

Titans vs Lions
Titans vs Eagles
Titans vs Huskies
Lions vs Titans
Lions vs Eagles
Lions vs Huskies
Eagles vs Titans
Eagles vs Lions
Eagles vs Huskies
Huskies vs Titans
Huskies vs Lions
Huskies vs Eagles

In [ ]:
# PART FOUR COMMON LOOP ERRORS

In [22]:
# failure to initialize variables before loop begins 
# print sum of 0,1,2,3
# ERROR
for x in range(4):
    sum += x

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'

In [23]:
# print sum of 0,1,2,3
# SOLUTION

sum = 0
for x in range(4):
    sum += x
print(sum)

6

In [ ]:
# Infinite Loops - loops that never stop executing 
# ensure variables used in loop are modified within body 
# to prevent this... reaching a FALSE state 

# infinite while loop 
x = 20
while x >= 10:
    #print(x)

In [24]:
# solution 
x = 20
while x >=10:
    print(x)
    x -=1

20
19
18
17
16
15
14
13
12
11
10

In [25]:
# PART FIVE List Comprehensions (Can use comprehensions on multiple data structures) 
# Concise way to replace loops 
# list = [return value for element in list]
# can contain conditionals as well 

# for loop 
# from range(10) add even numbers to list 
even_numbers = list()
for x in range(10):
    if x % 2 == 0: 
        even_numbers.append(x)

print(even_numbers)
print()

# list comprehension 
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [26]:
# enumerate() list contents 
# built in function if we want the index and value of list 


work_shifts = ["First Shift", "Second Shift", "Third Shift", "Fourth Shift"]

# basic for loop
for x in work_shifts: 
    print(x)

print()
#Prints nothing, useful for having a space

# enumerate, index starts at 0
for index, value in enumerate(work_shifts):
    print(str(index)+ " " + value)

print()

# enumerate, use print to increment index 
for index, value in enumerate(work_shifts):
    print(str(index+1)+ " " + value)   

print()
# enumerate, use built in functions to start index at 1 
for index, value in enumerate(work_shifts, start=1):
    print(str(index) + " " + value)
#CONSIDER USING THIS FOR THE TOP 5 EARTHQUAKES IN HW 1!

First Shift
Second Shift
Third Shift
Fourth Shift

0 First Shift
1 Second Shift
2 Third Shift
3 Fourth Shift

1 First Shift
2 Second Shift
3 Third Shift
4 Fourth Shift

1 First Shift
2 Second Shift
3 Third Shift
4 Fourth Shift

In [ ]:
# PART SIX try and except 
# try - contains code expected to potentially raise an exception
# except - runs if an exception occurs, stopping the try block and executing the except block
# except Exception type - runs for specific exception

In [30]:
# try / except on ValueError 

# prompt a user to enter an integer as a number 
# VALUE ERROR
number = int(input("Enter a number: "))

print("User entered: {}".format(number))

User entered: 5

In [28]:
# Solution - except all 

try: 
    number = int(input("Enter a number: "))
    print("User entered: {}".format(number))
except: 
    print("That is not a valid number")

That is not a valid number

In [32]:
# Solution - Except Exception Type, Value Error 
try: 
    number = int(input("Enter a number: "))
    print("User entered: {}".format(number))
except ValueError: 
    print("That is not a valid number")

That is not a valid number

In [34]:
# multiple exceptions 
# prompt the user for a number and divide 10 by that number 

try: 
    number = int(input("Enter a number: "))
    result = 10/number
except ValueError: 
    print("That is not a valid number")
except ZeroDivisionError: 
    print("Cannot divide by zero.")

That is not a valid number

In [ ]:
# CODING CHALLENGES

In [36]:
# 1 
# Create a while loop to continue to prompt a user
# to enter an integer until they do
#Option 1 - Using booleans
boolean = True
while boolean:
    try:
        number = int(input("Enter a number: "))
        print("User entered {}".format(number))
        boolean = False
    except ValueError:
        print("That is not a valid number")

#Option 2
while True:
    try:
        number = int(input("Enter a number: "))
        print("User entered {}".format(number))
        break
    except ValueError:
        print("That is not a valid number")

User entered 5

In [43]:
# 2 
# Calculate the sum of all the numerical values of a dictionary 
# try to use as many built in functions as you can 

#For Loop
total = 0
mixed = {"a": 10, "b": "hello", "c": 25.5, "d": [1, 2], "e":"goodbye"}
for x in mixed.values():
    if isinstance(x, (int,float)):
        total += x
print(total)

#Comprehension
mixed = {"a": 10, "b": "hello", "c": 25.5, "d": [1, 2], "e":"goodbye"}
total = sum(v for v in mixed.values() if isinstance(v,(int,float)))
print(total)

35.5

TypeError: 'int' object is not callable

In [ ]:
# 3 
# Create a function to 
# code the same calculation but ensure you are adding the numbers in the list

In [51]:
# 4 
# Create a nested for loop to output a multiplication table
# from 1-3 

# 1 x 1 = 1
# 1 x 2 = 2
# 1 x 3 = 3
# ---
# 2 x 1 = 2
# 2 x 2 = 4
# 2 x 3 = 6
# ---
# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9
# ---
product = 0
for x in range(1,4):
    for y in range(1,4):
        product = x * y
        print("{} x {} = {}".format(x,y,product))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9