In [ ]:
# Week 2 - Data Structures and Files

In [ ]:
# PART ONE - Strings Indexing and Slicing 
# index always starts at 0, not 1 and goes up to len(sequence)-1

In [ ]:
# access letters of string 

sport = "basketball" 
sport[0]

In [ ]:
sport[1]

In [ ]:
# use negatives to access elements from the end 
# -1 returns last element of sequence 

sport[-1]

In [ ]:
sport[-4]

In [ ]:
# multiple ways to find the first element 
# sequence[0] == sequence[-len(sequence)]

fruit = "apple" 
fruit[0]

In [ ]:
len(fruit)

In [ ]:
fruit[-5]

In [ ]:
fruit[-len(fruit)]

In [ ]:
# String Slicing - returning subsrings of strings  
# A slice INCLUDES the character at the start index but EXCLUDES the character at the end index

weather = "thunderstorm"

In [ ]:
# return 'storm' from 'thunderstorm'
# 's' is at index 7 

weather[7:]

In [ ]:
# return 'under' from 'thunderstorm' 
# 'u' is at index 2 and 'r' is at index 6

weather[2:7]

In [ ]:
# we miss the value if we end the slice at the characters index 

weather[2:6]

In [ ]:
# full string         [:]
# start of string    [:x]
# end of string      [x:]

print(weather[:])
print(weather[:4])
print(weather[4:])

In [ ]:
# we can use concatentation to join the last two results and create
# the original string 

weather[:4] + weather[4:]

In [ ]:
# if the index is negative, Python counts back from 
# the end of the string instead of the beginning 

print(len(weather))

# go back 12 characters to end of string 
print(weather[-12:])

# beginning of string up to the last 3 characters  
print(weather[:-3])

In [ ]:
# if the index is beyond the end of the string
# returns an empty string 

print(weather[50:])
print(weather[:-30])

In [ ]:
# Slicing Strings Using STRIDES 
# doubel colon ::
# [start:end:step] - every step-th element IS SELECTED 
# default stride/step = 1 
# allows you to skip (step minus 1 indexes)

In [ ]:
# print greeting but step by 3  

greeting = "Hello World!"

greeting[::3]

In [ ]:
# print greeting but skip every other character 

greeting[::2]

In [ ]:
# you can use a negative stride to print the string backwards 
# [start:end:-x] step backwards

In [ ]:
# print greeting backwards 
greeting[::-1]

In [ ]:
# print greeting backwards but skip every other character 
greeting[::-2]

In [ ]:
# Strings are Immutable 
# orignial string cannot be modified 

superhero = "catman" 
superhero[0] = 'b'

In [ ]:
# option 1 
superhero = "batman"

# option 2 
new_superhero = "batman"

In [ ]:
# Part Two - String Built-In Functions and Reserved Words

In [ ]:
greet1 = "Hello"
greet2 = "World"

print(greet1 + " " + greet2)

In [ ]:
# join() - concatentate strings from a list with a specific delimiter 

greetings = ["Hello", "World"] 
print(" ".join(greetings))
print(", ".join(greetings))
print(", ".join(greetings)+"!")

In [ ]:
# use slicing and joining to format a US phone number 
# (xxx)-xxx-xxxx

phonenumber = "4123456789"

# first 3 digits are area code 
area_code = "(" + phonenumber[0:3] + ")"

print(area_code)

In [ ]:
# next 3 digists are the exchange 

exchange_code = phonenumber[3:6]
print(exchange_code)

In [ ]:
# last 4 digits are the line number 
# can obtain with negative slicing 
# go back 4 elements to end of string

line = phonenumber[-4:]
line

In [ ]:
# join them together 

# using + 
print(area_code + "-" + exchange_code + "-" + line)

# using .join()
number_list = [area_code,exchange_code,line]
print("-".join(number_list))

In [ ]:
# use it in a Function => resuable block code 

def format_phone(phonenumber):
    # first 3 digits are area code 
    area_code = "(" + phonenumber[0:3] + ")"

    # next 3 digists are the exchange 
    exchange_code = phonenumber[3:6]

    # last 4 digits are the line number 
    line = phonenumber[-4:]

    # using .join()
    number_list = [area_code,exchange_code,line]
    return "-".join(number_list)

print(format_phone("4123456789"))

In [ ]:
# index() - return index of character/substring
# remember spaces are characters! 

animals = "Zebras and Lions" 

animals.index("L")

In [ ]:
# substrings return index of first character 
animals.index("Lion")

In [ ]:
# character not found 
animals.index("B")

In [ ]:
# membership testing using reserved word 
# in 

print("Zebra" in animals)
print("Monkey" in animals)

In [ ]:
# upper() and lower() 
# prompting a user for an answer 

answer = "YES" 
if answer.lower() == "yes":
    print("User said yes")

In [ ]:
# edge case handling 
answer = "   YES   "
if answer.lower() == "yes":
    print("User said yes")

In [ ]:
# edge case handling solution 
# immutable strings 
answer = "    YES    "
answer = answer.strip()

if answer.lower() == "yes":
    print("User said yes")

In [ ]:
# count() - return # of occurrences of element 
sentence = "The number of times e occurs in this sentence is".count("e") 
print(sentence)

In [ ]:
# endswith() - returns true if strings ends with substring 

"Basketball".endswith("ball")

In [ ]:
# isnumeric() vs isalpha()

print("Basketball".isnumeric())
print("Basketball".isalpha())

In [ ]:
print("12".isnumeric())
print("12.5".isnumeric())

In [ ]:
# split() - split a string into a list 

sports = "basetkabll, soccer, football, tennis, pickleball"
sports = sports.split()
print(sports)
print(type(sports))

In [ ]:
# String Formatting 
# format() - uses curly brackets {} as placeholders to format strings 

name = "Carly" 
print("Hello {}".format(name))

In [ ]:
# placeholders to modify/compute specific values 
name = "Carly"
lucky_number = 0

print("Hello {name}. Your lucky number is {lucky_number}".format(name=name[:3], lucky_number=lucky_number+21))

In [ ]:
# format strings with prices 
price = 10 
tax = price * .20
price_with_tax = price + tax

print("Total price = ${:.2f}".format(price_with_tax))

In [ ]:
# String Formatting 
# Syntax:
#            Call the .format() method on a string, passing the values to be inserted as arguments.
# Placeholders:
#            Use curly braces {} within the string as placeholders.
# Positional Arguments:
#            Placeholders can be empty {} or contain numbers {0}, {1} corresponding to argument positions.
# Named Arguments:
#            Placeholders can contain names {name} corresponding to keyword arguments passed to .format().
# Format Specifiers:
#            Format specifiers can be used within the curly braces.

In [ ]:
# String Formatting 
# Alignment 
#            < left, > right, ^ center 
# Precision 
#            .<number> 
#             floats - specifies number of decimal places 
#             strings - limits the number of characters 
# Type 
#             d = integer 
#             f = float 
#             s = string
#             b = binary 
#             % = percentage

In [ ]:
# format a float as an integer value 
# {:f}

"{:.0f}".format(10.5)

In [ ]:
# format a string with x number of characters 
# {:.xs]

python = "Python"

"{:.2s}".format(python)

In [ ]:
# align python 6 spaces to the right 
# {:>6s}

"{:>6s}".format("Py")

In [ ]:
# align python 6 spaces to the left 
# {:<6s}

"{:<6s}".format("Py")

In [ ]:
# align right AND reduce characters 

"{:>6.2}".format(python)

In [ ]:
# center string by x spaces 

"{:^6s}".format("Py")

In [ ]:
# PART 3 : More Data Structures (List, Tuple, Dictionary, List)

In [ ]:
# List - mutable, brackets []

x = ["This", "is", "a", "list"]

# print last element of list 
print(x[3])
print(x[-1])

# print a list 
print(x[2:])

In [ ]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.append("Kiwi")
print(fruits)

In [ ]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.insert(0, "Orange")
print(fruits)

In [ ]:
# if the index is longer than the length, it will just be 
# appended to end of list 
fruits.insert(25, "Peach")
print(fruits)

In [ ]:
fruits.remove("Melon")
print(fruits)

In [ ]:
# remove index 3 of list 

fruits.pop(3)
print(fruits)

In [ ]:
# change Peach to Strawberry 

fruits[3] = "Strawberry"
print(fruits)

In [ ]:
# notice how we could just call our functions and 
# modify elements of the list without having to 
# reinitialize the variable

In [ ]:
# Tuple - immutable, parentheses () 

fullname = ("Grace", "M", "Hopper")
print(fullname)
type(fullname)

In [ ]:
# Use case for fixed values, such as configurations 

# create a tuple for API endpoint configurations 


api_config = (
    "https://api.earthquake-data.org/v1/events",  # API URL
    10,                                           # Timeout
    3,                                            # Max retries
    True                                          # Debug mode
)

# access elements of tuple 
api_url = api_config[0]
timeout = api_config[1]
max_retries = api_config[2]
debug_mode = api_config[3]

print(api_config)

In [ ]:
# Dictionary - mutable, curly brackets {}, key/value pairs 

# create a dictionary based on counts of file types 

file_counts = {"jpg":10, "txt":14, "csv":3, "py":13}
print(file_counts)

In [ ]:
# print keys 
print(file_counts.keys())

# print values
print(file_counts.values())

# print value of csv key 
print(file_counts["csv"])

In [ ]:
# update() dictionary 

# modify value of py counts 
# ** REPLACES, does not append 
file_counts.update({"py":21})
print(file_counts)

# add new key/value pair to dictionary 
file_counts.update({"pdf":32})
print(file_counts)

In [ ]:
# append value to existing key 
# ERROR 
file_counts["py"].append(13)

In [ ]:
# append value to existing key 
# convert to data type of values to list 

# Convert each value to a list containing that value
file_counts = {key: [value] for key, value in file_counts.items()}

file_counts["py"].append(13)
print(file_counts)

In [ ]:
# remove index 1 of py file type values 
file_counts["py"].pop(1)

In [ ]:
# remove txt value 
file_counts["txt"].remove(14)

In [ ]:
# remove txt key and value pair 
file_counts.pop("txt")

In [ ]:
print(file_counts)

In [ ]:
# Sets - immutable, curly brackets {}, unordered 

unique_numbers = {1, 1, 1, 1, 4, 24, 65, 45, 45}
print(unique_numbers)

In [ ]:
# element membership 
for num in unique_numbers:
    if num == 4:
        print("In Set")

In [ ]:
# PART 4 - READING AND WRITING TO FILES WITH PYTHON

In [ ]:
# open file 
file = open("sports.txt")

# read file line by line and return as string 
print(file.readline())
print(file.readline())


# read rest of full file and returns as string
print(file.read())

# when files are opened in python,
# they should always be closed after use
# this frees up system resources, 
# save all data, prevent data corruption, and avoid errors

file.close()

In [ ]:
# execute a file open, file read, and auto file close  
# within one code block 

with open("sports.txt") as file:
    print(file.read())

In [ ]:
# iterate through files 

with open("sports.txt") as file:
    for line in file:
        print(line.upper())

# Each line in a text file already ends with a newline character (\n)
# line includes the newline at the end (e.g., "soccer\n").
# print() adds another newline after printing by default.
# hence the double spacing

In [ ]:
# iterate through files and remove newlines 

with open("sports.txt") as file:
    for line in file:
        print(line.strip().upper())

In [ ]:
# write to a file 

with open("car_brands.txt", "w") as file:
    file.write("Toyot\nHonda\nFord\nJeep\nVolkswagen\nMercedes Benz")

In [ ]:
# reading CSV files 
# comma-separated values 

import csv

f = open("customers.csv")
csv_f = csv.reader(f)

# skip header row 
next(csv_f)
for row in csv_f:
    ID, first, last = row
    
    print("ID: {}, First Name: {}, Last Name: {}".format(ID, first, last))
f.close()

In [4]:
# Importing Libraries/Modules 

# Pandas DataFrame - data analysis and manipulation
# Easily load data from CSV, Excel, JSON, SQL, and more

import pandas as pd

dataframe = pd.read_csv("customers.csv")

dataframe

        Customer Id First Name Last Name
0   DD37Cf93aecA6Dc     Sheryl    Baxter
1   1Ef7b82A4CAAD10    Preston    Lozano
2   6F94879bDAfE5a6        Roy     Berry
3   5Cef8BFA16c5e3c      Linda     Olsen
4   053d585Ab6b3159     Joanna    Bender
..              ...        ...       ...
95  cb8E23e48d22Eae       Karl     Greer
96  CeD220bdAaCfaDf       Lynn  Atkinson
97  28CDbC0dFe4b1Db       Fred    Guerra
98  c23d1D9EE8DEB0A     Yvonne    Farmer
99  2354a0E336A91A1   Clarence    Haynes

[100 rows x 3 columns]

In [ ]:
# CHALLENGE 1 
# format an email address to replace an old domain with a new domains 
# try to run your code as a function replace_domain()

email = "tracy.mcgrady@magic.com"
old_domain = "magic.com"
new_domain = "rockets.com"

In [ ]:
# CHALLENGE 2 
# Count the number of characters in this list 
# Print the total number of characters 

animals = ["Lion", "Zebra", "Dolphin", "Monkey"]

In [ ]:
# CHALLENGE 3 
# A palindrome is a word, phrase, or sequence that reads
# the same forwards as it does backwards 

# Write code to check whether two sequences are a palindrome

In [2]:
# What would happen if we ran this on a set? a dictionary?

In [4]:
  %pip3 install pandas

UsageError: Line magic function `%pip3` not found.